<html>
<head>
  <script async src="https://arc.io/widget.js#UniE98jJ"></script>
  <style>
  h1 {
  font-style:italic;
  color: blue;
  }
</style>
<title>Learn Code | Whitelist your websites!</title>
  </head>
  <body>
  <h1>Welcome to Learn Code's site hoster</h1>
    <h2>to add your site, you will need to create a site and get it whitelisted by the site admin. Moderation is also played here, so be careful with what you send!</h2>
  <h3>There's also some benifits like the ability for discord bots using the "node" part of the editor. (Coming soon) <br/><br /> Why not try it now? :)</h3>
    
    <br><br><br>
    
    <h4>
      Tip: In order to submit your project it has to be open-source.
    </h4>
  </body>
</html>
