<!DOCTYPE html>
<html lang="en">
  <head>
    <script async src="https://arc.io/widget.js#UniE98jJ"></script>
    <link rel="shortcut icon" href="/logo.webp" >
    <meta name="title" content="Editor">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
    <title>Learn-Code</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
    <script type="text/javascript">
  var _paq = window._paq = window._paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="https://learn-code.matomo.cloud/";
    _paq.push(['setTrackerUrl', u+'matomo.php']);
    _paq.push(['setSiteId', '1']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.src='//cdn.matomo.cloud/learn-code.matomo.cloud/matomo.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
     <script src="/offline.js" ></script>
    <link
      href="/offline.css"
      rel="stylesheet"
    />
  </head>  
  <body background="https://cdn.glitch.com/dc89eddf-9d30-41de-968a-aade27886f85%2FScreenshot%202019-08-27%20at%204.47.03%20PM.png?v=1566942470682">
<center>
<div style="width:90%;padding:50px;height:90%;y-overflow:auto;">
  <h1>
    Learn Code is growing every day, (quite literally) and I'd like to keep it that way. 
    
    <br><br>
    
    So, my efforts to make Learn Code the best are listed here. (There might also be some future efforts, too :D)
  </h1>
  <br><br><br>
  <h1>
    1. (The First Update)<br>
    Revamped the editor!<br><br>
    2. (The Second Update)<br>
    I began work on the html docs. The 404 pages have been implemented by another user that is now banned from Learn Code, which I won't mention.<br><br>
    3. (The third Update)<br>
    I create hosting and more. The editor is revamped a third time. Who would've guessed that, eh?<br><br>
    4. (The present and fourth update)<br>
    I'm now working hard to style the front page (possibly even the front page of the internet! :D)<br><br>
    5. (All future things will be listed here, without secrets being included :D)<br><br>
    <br>
    <br>
    3. More themes!<br>
    4. Logo Maker!<br>
    5. Website maker!<br>
    <br>
    7. No ads :)<br>
    8. finish those html docs<br>
    9. domain (coming soon)<br>
    10. Learn Code CDN<br>
    <br>
    12. Copy code button<br>
    <br>
    14. Built with Learn Code Badge<br>
    <br>
    15. Wiki for Learn Code
   </h1>
  
  </div>
    </center>
    <script src="instantclick.min.js" data-no-instant></script>
<script data-no-instant>InstantClick.init();</script>
  </body>
</html>