<!DOCTYPE html>
<html lang="en">
  <head>
    <script async src="https://arc.io/widget.js#UniE98jJ"></script>
    <link rel="shortcut icon" href="/logo.webp" >
    

    
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
    <title>Learn-Code</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- import the webpage's stylesheets -->
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/home.css">
    <script type="text/javascript">
  var _paq = window._paq = window._paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="https://learn-code.matomo.cloud/";
    _paq.push(['setTrackerUrl', u+'matomo.php']);
    _paq.push(['setSiteId', '1']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.src='//cdn.matomo.cloud/learn-code.matomo.cloud/matomo.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
     <script src="/offline.js" ></script>
    <link
      href="/offline.css"
      rel="stylesheet"
    />
  </head>  
  <body background="https://cdn.glitch.com/dc89eddf-9d30-41de-968a-aade27886f85%2FScreenshot%202019-08-27%20at%204.47.03%20PM.png?v=1566942470682">
<div class="navbar" >
  <a style="box-shadox:none;" href="/">Learn Code</a>
  <div style="display:inline;float:right;padding-right:50px;cursor:pointer;" onclick="document.getElementById('Options').style.display='initial';"><img src="/logo.webp" style="width:50px;height:50px;line-height:10px;display:inline-block;">
  ∨  
  </div>
    </div>
      <div style="display:none;left:0;position:fixed;background:darkgrey;width:100%;height:100vh;transition:0.2s" id="Options">
    <center>
      <br><br><br>
      <button class="button" style="font-size:30px;" onclick="window.location = '/editor.html'">
        Editor
      </button>
        <br><br><br>
      <button class="button" style="font-size:30px;" onclick="window.location = '/'">
        Go Home
      </button>
      <br><br><br>
      <button class="button" style="font-size:30px;" onclick="window.location = '/host'">
        Host
      </button>
      <br><br><br>
      <button class="button" style="font-size:30px;" onclick="document.getElementById('Options').style.display='none'">
        Close
      </button><h1 style="position:fixed;bottom:100px;text-align:center;">
      This work is licensed under a Creative Commons
      Attribution-NonCommercial-NoDerivatives 4.0 International License.
      </h1></center>
  </div>
    <br><br><br><br><h1 style="font-weight:100;">
    Featured Projects
    </h1><br>
    <div class="card" onclick="window.location='/host/hellowebpages'">
      <br>
      <h2>
        Check out the hosted hosting instructions for sites, its cool!
      </h2>
      <br><br>
      <button class="button">
        View Hosting Instructions
      </button>
    </div>
    <script src="instantclick.min.js" data-no-instant></script>
<script data-no-instant>InstantClick.init();</script>
  </body>
</html>
