<!DOCTYPE html>
<html lang="en">
  <head>
    <script async src="https://arc.io/widget.js#UniE98jJ"></script>
    <link rel="shortcut icon" href="/logo.webp" >
    <meta name="title" content="Editor">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
    <title>Learn-Code</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
    
        <script type="text/javascript">
      var onloadCallback = function() {
        grecaptcha.render('bot_element', {
          'sitekey' : '6LfN6sYZAAAAACK9WGXcwOLLf5Sg_h9SEN4NZJF2',
          'callback' : callBack,
          'theme': 'Dark'
        });
      };
      var callBack = function () {
        document.getElementById("elem").style.display = 'block';
      }
    </script>
    <script type="text/javascript">
  var _paq = window._paq = window._paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="https://learn-code.matomo.cloud/";
    _paq.push(['setTrackerUrl', u+'matomo.php']);
    _paq.push(['setSiteId', '1']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.src='//cdn.matomo.cloud/learn-code.matomo.cloud/matomo.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
     <script src="/offline.js" ></script>
    <link
      href="/offline.css"
      rel="stylesheet"
    />
  </head>  
  <body background="https://cdn.glitch.com/dc89eddf-9d30-41de-968a-aade27886f85%2FScreenshot%202019-08-27%20at%204.47.03%20PM.png?v=1566942470682">
<center>
<h1 style="font-family:'Lato',sans-serif;color:white;">
 To host your project, simply just check the reCAPTCHA and then email us.
  </h1>
      <!--[if IE]>
<h1>IE GET OUT NOW</h1>
<![endif]-->
  <hr>
  <div id="bot_element"></div>
  <h1 id="elem" style="display:none;text-align:center;">
    Your almost there! Eventually we will get a different "domain" email 🙃 
    <br><br> learn.code.mail@gmail.com <br><br>
    You can expect a reply sooner or later.
  </h1>
    <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit"
        async defer>
    </script>
    </center>
    <script src="instantclick.min.js" data-no-instant></script>
<script data-no-instant>InstantClick.init();</script>
  </body>
</html>