<!DOCTYPE html>
<html lang="en">
  <head>
    <script async src="https://arc.io/widget.js#UniE98jJ"></script>
    <link rel="shortcut icon" href="/logo.webp" >
    
        
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
    <title>Learn-Code</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
    <script type="text/javascript">
  var _paq = window._paq = window._paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="https://learn-code.matomo.cloud/";
    _paq.push(['setTrackerUrl', u+'matomo.php']);
    _paq.push(['setSiteId', '1']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.src='//cdn.matomo.cloud/learn-code.matomo.cloud/matomo.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
     <script src="/offline.js" ></script>
    <link
      href="/offline.css"
      rel="stylesheet"
    />
  </head>  
  <body background="https://cdn.glitch.com/dc89eddf-9d30-41de-968a-aade27886f85%2FScreenshot%202019-08-27%20at%204.47.03%20PM.png?v=1566942470682">
<h6 style="display:inline;">
  Welcome to the <h6 id="gradient" style="display:inline;">
  HTML-Docs
  </h6>
    </h6><h6 style="">
      Scroll to advance (JS Docs coming soon!)
      </h6><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

        <div>
  <h1>
    &lt;!-- comment_text --&gt;
  </h1>
  <hr>
  <h2>
    Creates a HTML Comment, which may contain any code or text, and shall not be ran. (comment_text being the comment text you want)
    <br><br><br>
    No example :(
  </h2>
    </div>
                <br><br><br><br><br><br><br><br>
        <div>
  <h1>
    &lt;!DOCTYPE&gt;
  </h1>
  <hr>
  <h2>
    Declaration for what version of HTML you are using.
    <br><br><br>
    No example :(
  </h2>
    </div>
                    <br><br><br><br><br><br><br><br>
        <div>
  <h1>
    &lt;a&gt;
  </h1>
  <hr>
  <h2>
    HTML for creating a hyperlink, however you must set the href property to the url you want.
    <br>
  </h2>
<div style="width:70%; background:gray; height:240px; position:absolute; left:15%; border-radius: 30px; padding:20px;" class="example">
  <h1 style=" top:20px; left:50px; width:90%; font-size:24px;height:30px;font-family: 'Lato'; color:black;" class="txt">The following code makes a hyperlink, (a link which leads to another website if you add href="x", x being url you want.) which leads to the home page of the learn-code app.</h1>
   <br><br><br><br>
<textarea style=" top:145px; left:50px; width:90%; font-size:24px;height:30px;" readonly>&lt;a href="https://learn-code.glitch.me/"&gt;Click me! I am a hyperlink!&lt;/a&gt;</textarea>
  <br><br>
   <button
            class="btn"
   onclick="window.location = 'https://learn-code.glitch.me/edit.html?html=<a href=&quot;https://learn-code.glitch.me/&quot;>Click me! I am a hyperlink!</a>&css=&js='"
           style="width:300px; font-family: 'Lato', sans-serif; background:green; height:50px; border:none; color:white; font-size:36px; cursor:pointer;  left:50px; top:210px; border-radius:10px;">
      Try it in the editor
    </button>
    </div>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
    <div>
  <h1>
    &lt;abbr&gt;
  </h1>
  <hr>
  <h2>
    HTML for creating a abbreviation, with bottom-dotted-text. 
    <br>
    You can combine it with a title attribute for easier to-do HTML.
  </h2>
<div style="width:70%; background:gray; height:240px; position:absolute; left:70px; border-radius: 30px; padding:20px;" class="example">
  <h1 style=" top:20px; left:50px; width:90%; font-size:24px;height:30px;font-family: 'Lato'; color:black;" class="txt">The following code makes an abbreviation, something that has underlined text. Hover over it to see the title attribute in action.</h1>
   <br><br><br><br>
<textarea style=" top:145px; left:50px; width:90%; font-size:24px;height:30px;" readonly>&lt;abbr title="Important text"&gt;This text will be dotted&lt;/abbr&gt;</textarea>
  <br><br>
   <button
            class="btn"
   onclick="window.location = 'https://learn-code.glitch.me/edit.html?html=<abbr title=&quot;Important text&quot;>This text will be dotted</abbr>&css=&js='"
           style="width:300px; font-family: 'Lato', sans-serif; background:green; height:50px; border:none; color:white; font-size:36px; cursor:pointer;  left:50px; top:210px; border-radius:10px;">
      Try it in the editor
    </button>
    </div>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    </div>
        <div>
          <br><br><br><br><br>
  <h1>
    &lt;address&gt;
  </h1>
  <hr>
  <h2>
    HTML used for contact information
    <br><br>
    It is italic.
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;area&gt;
  </h1>
  <hr>
  <h2>
    HTML for creating a clickable area on usually an html map element
    <br><br>
    You can combine it with a title attribute for easier to-do HTML.
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;article&gt;
  </h1>
  <hr>
  <h2>
    HTML for creating seperated info.
    <br><br>
    Great for forums, chat messages, etc.
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
    <div>
  <h1>
    &lt;audio&gt;
  </h1>
  <hr>
  <h2>
    HTML for creating audio.
    <br><br>
    Used when making audio for your site.
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
        <div>
  <h1>
    &lt;b&gt;
  </h1>
  <hr>
  <h2>
    HTML for creating bold text.
    <br><br>
    Bold text is typically found first in documents. (it might become deprecated)
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;base&gt;
  </h1>
  <hr>
  <h2>
    The default "starter" for anchors/hyperlinks.
    <br><br>
    When in the &lt;head&gt; element and has a href attribute, it will automatically apply the attribute value to the beginning of every &lt;a&gt; element!
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;basefont&gt;
  </h1>
  <hr>
  <h2>
    The basefont element is deprecated yet usuable. It acts like the &lt;base&gt; element, except that it's used for font-size, color, or font-family instead of a "link starter."
    <br><br>
    
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;bdo&gt;
  </h1>
  <hr>
  <h2>
    HTML for changing the text direction.
    <br><br>
    With this, you can use the attribute "dir!" Then, change the value to rtl! Then, the text will go right to left!
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;big&gt;
  </h1>
  <hr>
  <h2>
    Deprecated HTML used for making bigger text.
    <br><br>
    You should use CSS instead.
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;blockquote&gt;
  </h1>
  <hr>
  <h2>
    HTML for writing text that was from another source.
    <br><br>
    You can also say the cite attribute!
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;body&gt;
  </h1>
  <hr>
  <h2>
    HTML used to create the front-end of your site
    <br><br>
    It is required in HTML.
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;br /&gt;
  </h1>
  <hr>
  <h2>
    HTML used as line breaks, or just plain margin
    <br><br>
    You can use this to make a broken line in HTML
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;button&gt;
  </h1>
  <hr>
  <h2>
    HTML for creating a simple button
    <br><br>
    One of the most common used html elements.
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;canvas&gt;
  </h1>
  <hr>
  <h2>
    Used for creating HTML5 games and other things.
    <br><br>
    You can use it for creating many games only using JavaScript and one html tag!
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;center&gt;
  </h1>
  <hr>
  <h2>
    HTML for creating center-aligned items
    <br><br>
    Deprecated, yet used on Learn Code
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;details&gt;
  </h1>
  <hr>
  <h2>
    HTML for open and closing things by clicking
    <br><br>
    It's controlled by the attribute "open" or "closed"
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;dialog&gt;
  </h1>
  <hr>
  <h2>
    HTML for open and closing things by clicking
    <br><br>
    Pretty much the same thing, same attribute, etc.
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;div&gt;
  </h1>
  <hr>
  <h2>
    HTML for creating divided text. You could add backgrounds and border radiuses to make it into a drawing.
    <br><br>
    
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;em&gt;
  </h1>
  <hr>
  <h2>
    HTML used for creating italic text.
    <br><br>
    Combined with anything will work.
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;embed&gt;
  </h1>
  <hr>
  <h2>
    Using this you can embed videos, sites, and even flash games!
    <br><br>
    
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;font&gt;
  </h1>
  <hr>
  <h2>
    The font tag was used to define text color, font, and more.
    <br><br>
    You can still use this, but you are better off using CSS.
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;form&gt;
  </h1>
  <hr>
  <h2>
    HTML for creating a form
    <br><br>
    Combine with attributes to create the ultimate form!
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;h1&gt;
  </h1>
  <hr>
  <h2>
    HTML for creating the largest "Default" text
    <br><br>
    There are 6 "h" elements, this is one of them!
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;h2&gt;
  </h1>
  <hr>
  <h2>
    HTML for creating the second to largest "Default" text
    <br><br>
    There are 6 "h" elements, this is one of them!
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;h3&gt;
  </h1>
  <hr>
  <h2>
    HTML for creating some "Default" text
    <br><br>
    There are 6 "h" elements, this is one of them!
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;h4&gt;
  </h1>
  <hr>
  <h2>
    HTML for creating one of the smallest "Default" text
    <br><br>
    There are 6 "h" elements, this is one of them!
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;h5&gt;
  </h1>
  <hr>
  <h2>
    HTML for creating the second to smallest "Default" text
    <br><br>
    There are 6 "h" elements, this is one of them!
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;h6&gt;
  </h1>
  <hr>
  <h2>
    HTML for creating the smallest "Default" text
    <br><br>
    There are 6 "h" elements, this is one of them!
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;head&gt;
  </h1>
  <hr>
  <h2>
    HTML for adding hidden items
    <br><br>
    Note that items aren't hidden, but are for scripts and styles which cannot be seen. These might slow the site down, but loads before you see the page.
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;header&gt;
  </h1>
  <hr>
  <h2>
    HTML for creating a header.
    <br><br>
    This is the opposite of a head tag. It's meant to be a header for the html page.
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;hr&gt;
  </h1>
  <hr>
  <h2>
    HTML for creating a line.
    <br><br>
    If you create a hr tag, like the br tag you do not close it! A br creates margin while hr creates margin and a line
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;html&gt;
  </h1>
  <hr>
  <h2>
    HTML
    <br><br>
    This is the second tag you put in a site. It is the most important, though.
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;i&gt;
  </h1>
  <hr>
  <h2>
    HTML for creating italic text.
    <br><br>
    USe this when the em tag does not work!
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;iframe&gt;
  </h1>
  <hr>
  <h2>
    HTML for embeding content onto a site
    <br><br>
    Using this you can embed websites inside a site in HTML!
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;img&gt;
  </h1>
  <hr>
  <h2>
    HTML for creating an image.
    <br><br>
    Use this instead of iframes for images in HTML.
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;input&gt;
  </h1>
  <hr>
  <h2>
    HTML for forms items (checkboxes, text, submit, etc.)
    <br><br>
    One of the most important items in HTML! Without this logins and signing up would be destroyed!
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;ins&gt;
  </h1>
  <hr>
  <h2>
    HTML for "Inserted" text
    <br><br>
    This text is underlined but there is also strikedthrough text 
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;kbd&gt;
  </h1>
  <hr>
  <h2>
    HTML for showing keyboard shortcuts
    <br><br>
    This might be deprecated as you can already do this with CSS.
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;label&gt;
  </h1>
  <hr>
  <h2>
    HTML for creating a label, or simple text.
    <br><br>
    You can combine this with input elements with the for attribute. Also, you can put the input element inside a label element for this to work as well.
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;legend&gt;
  </h1>
  <hr>
  <h2>
    HTML for grouping input elements
    <br><br>
    Use this with the fieldset element for best results.
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;li&gt;
  </h1>
  <hr>
  <h2>
    HTML for creating bullet (or numbered) list items.
    <br><br>
    UL elements for creating
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;link&gt;
  </h1>
  <hr>
  <h2>
    HTML for embed CSS or HTML.
    <br><br>
    With this you can embed and add CSS to your site! The defer attribute might help you as it will make it faster it load!
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;main&gt;
  </h1>
  <hr>
  <h2>
    HTML for the main part of the HTML site.
    <br><br>
    You are recomended to do this for only the most important part if your site once.
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;map&gt;
  </h1>
  <hr>
  <h2>
    HTML for mapping an image down with clickable areas
    <br><br>
    Combine with images using the usemap attribute and name attribute. Then use the area tag and attributes to wrap it all up.
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;mark&gt;
  </h1>
  <hr>
  <h2>
    HTML for highlighting text
    <br><br>
    Many websites use this instead of the background CSS property.
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;meta&gt;
  </h1>
  <hr>
  <h2>
    HTML for describing a site
    <br><br>
    Use the attribute name and set it to "Description" or something like that so a website crawler has some info.
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;meter&gt;
  </h1>
  <hr>
  <h2>
    HTML for creating a progress bar (that is meant to be static)
    <br><br>
    You should use the progress tag instead for progress bars. 
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;nav&gt;
  </h1>
  <hr>
  <h2>
    HTML for creating a navigation bar/links
    <br><br>
    You should only use it for what is supposed to be.
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;noscript&gt;
  </h1>
  <hr>
  <h2>
    HTML that unhides when no scripts are ran
    <br><br>
    This happens when the person does not support/turn off client side scripts in their browser.
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;object&gt;
  </h1>
  <hr>
  <h2>
    HTML for embeding
    <br><br>
    You can use this as a alternative to the embed or iframe tag.
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;ol&gt;
  </h1>
  <hr>
  <h2>
    HTML for creating an ordered list
    <br><br>
    Usw this to create a numbered list.
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;optgroup&gt;
  </h1>
  <hr>
  <h2>
    
    <br><br>
    A group to select from in the options tag
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;option&gt;
  </h1>
  <hr>
  <h2>
    HTML for creating a dropdown option
    <br><br>
    Use an attribute for changing the value
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;output&gt;
  </h1>
  <hr>
  <h2>
    HTML for the result of something.
    <br><br>
    It can be useful for a calculator!
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;picture&gt;
  </h1>
  <hr>
  <h2>
    HTML for creating multiple images responsively
    <br><br>
    You can change attributes for some of the elements. 
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;p&gt;
  </h1>
  <hr>
  <h2>
    HTML for creating a paragraph
    <br><br>
    One of the most widely used HTML elements for text.
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;param&gt;
  </h1>
  <hr>
  <h2>
    HTML for adding an attribute
    <br><br>
    Note that this is not the best practice.
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;pre&gt;
  </h1>
  <hr>
  <h2>
    HTML for non-formatted text
    <br><br>
    The pre element is "special" text in HTML, yet very uncommon.
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;progress&gt;
  </h1>
  <hr>
  <h2>
    HTML for creating a progress bar
    <br><br>
    This is the better practice for a progress bar. 
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;q&gt;
  </h1>
  <hr>
  <h2>
    HTML for a quotation
    <br><br>
    Use this for quotes as this wraps up text with double quotes. You do not need to put them in.
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;rp&gt;
  </h1>
  <hr>
  <h2>
    HTML for when extra text is not avaliable
    <br><br>
    These are ruby annotations.
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;rt&gt;
  </h1>
  <hr>
  <h2>
    HTML for creating small, extra text.
    <br><br>
    This will not work without the ruby tag.
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;ruby&gt;
  </h1>
  <hr>
  <h2>
    HTML for extra text also as a parent of the rt tag
    <br><br>
    You should use this with the rt tag.
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;s&gt;
  </h1>
  <hr>
  <h2>
    HTML for creating striked throughed text.
    <br><br>
    Use this when text is no longer correct.
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;samp&gt;
  </h1>
  <hr>
  <h2>
    HTML for creating an error.
    <br><br>
    This is preformatted text that should be used for errors.
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;script&gt;
  </h1>
  <hr>
  <h2>
    HTML for creating a client side script
    <br><br>
    One of the most used elements in the world. It is the home of the javaScript in your website.
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;section&gt;
  </h1>
  <hr>
  <h2>
    HTML for creating a "Section"
    <br><br>
    Almost identical to the div tag.
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;select&gt;
  </h1>
  <hr>
  <h2>
    HTMl for creating a dropdown list
    <br><br>
    Don't get confused with the options tag,
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;small&gt;
  </h1>
  <hr>
  <h2>
    HTML for creating smaller text.
    <br><br>
    This is not deprecated, though the big tag is. Use this for creating small text, but don't rely on it too much.
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;strong&gt;
  </h1>
  <hr>
  <h2>
    HTML for creating bold-like text
    <br><br>
    Use this for creating bold text in your website.
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;style&gt;
  </h1>
  <hr>
  <h2>
    HTML for creating a stylesheet or embeding CSS
    <br><br>
    Yet again the home of CSS this time and still one of the most important tags, just a few away from the script tag.
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;sub&gt;
  </h1>
  <hr>
  <h2>
    HTML for creating smaller text
    <br><br>
    This makes it half the size, also lowering the font and should be used for things like H<sub>2</sub>0.
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;summary&gt;
  </h1>
  <hr>
  <h2>
    HTML for creating dropdown like text
    <br><br>
    It has an arrow to click to expand and has to be used with the details tag.
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;svg&gt;
  </h1>
  <hr>
  <h2>
    HTMl for creating drawings
    <br><br>
    I find this better than the canvas element for drawing, as you only do it in XML, not JS.
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;table&gt;
  </h1>
  <hr>
  <h2>
    HTML for creating a table
    <br><br>
    You can make a graph out of this.
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;tbody&gt;
  </h1>
  <hr>
  <h2>
    HTML for creating the body of a table
    <br><br>
    Use thead for creating a header of text, instead of creating cells.
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;td&gt;
  </h1>
  <hr>
  <h2>
    HTML for creating a table cell
    <br><br>
    Don't get confused with the th tag!
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;template&gt;
  </h1>
  <hr>
  <h2>
    Automatically hides anything inside,
    <br><br>
    To unhide, use JS
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;textarea&gt;
  </h1>
  <hr>
  <h2>
    HTML for creating a text area
    <br><br>
    You can write whatever text in a textarea with multiple lines and size control!
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;tfoot&gt;
  </h1>
  <hr>
  <h2>
    HTML for creating the footer of a table element
    <br><br>
    Use this instead of thead or tbody for a footer.
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;th&gt;
  </h1>
  <hr>
  <h2>
    HTML for creating the header cell
    <br><br>
    Put this in the thead element.
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;thead&gt;
  </h1>
  <hr>
  <h2>
    HTML for creating the header content of a table
    <br><br>
    USe this with th and whatever text in there will be at the top of the table!
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;time&gt;
  </h1>
  <hr>
  <h2>
    HTML for the time that the site is supposed to "take place"
    <br><br>
    This will be used for search engines like Google, but it does not do anything in any browser what so ever.
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;title&gt;
  </h1>
  <hr>
  <h2>
    HTML for defining the title of the website.
    <br><br>
    HTML that goes in the head element and will define the title of the site. It is not the best practice to change it in a different way than document.title
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;tr&gt;
  </h1>
  <hr>
  <h2>
    HTML for a row in a table element
    <br><br>
    Use this for rows and the td element should be used for cells
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;track&gt;
  </h1>
  <hr>
  <h2>
    HTML for creating captions for languages in video and audio media
    <br><br>
    Use this for different languages, etc.
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;u&gt;
  </h1>
  <hr>
  <h2>
    HTML for creating underlined text
    <br><br>
    You can use this for many things as one of the best practices
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;ul&gt;
  </h1>
  <hr>
  <h2>
    HTML for creating a un-ordered list
    <br><br>
    Use this for a bullet type list instead of a numbered one.
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;var&gt;
  </h1>
  <hr>
  <h2>
    HTML for creating preformatted text.
    <br><br>
    Use this for a variable like text.
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;video&gt;
  </h1>
  <hr>
  <h2>
    HTML for creating a video
    <br><br>
    Use this to embed a video media.
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
            <div>
  <h1>
    &lt;wbr&gt;
  </h1>
  <hr>
  <h2>
    HTML for a line break that depends on the user's width of screen
    <br><br>
    Use this for making your sites more responsive as it <i>might</i> cause a line break, or not.
    <br><br><br>
  </h2>
    </div>
          
    
    
    <!--
<div style="width:70%; background:gray; height:240px; position:absolute; left:15%; border-radius: 30px; padding:20px;" class="example">
  <h1 style=" top:20px; left:50px; width:90%; font-size:24px;height:30px;font-family: 'Lato'; color:black;" class="txt">The following code makes an abbreviation, something that has underlined text. Hover over it to see the title attribute in action.</h1>
   <br><br><br><br>
<textarea style=" top:145px; left:50px; width:90%; font-size:24px;height:30px;" readonly>&lt;abbr title="Important text"&gt;This text will be dotted&lt;/abbr&gt;</textarea>
  <br><br>
   <button
            class="btn"
   onclick="window.location = 'https://learn-code.glitch.me/edit.html?html=<abbr title=&quot;Important text&quot;>This text will be dotted</abbr>&css=&js='"
           style="width:300px; font-family: 'Lato', sans-serif; background:green; height:50px; border:none; color:white; font-size:36px; cursor:pointer;  left:50px; top:210px; border-radius:10px;">
      Try it in the editor
    </button>
    </div>

or 

        <div>
  <h1>
    &lt;elem&gt;
  </h1>
  <hr>
  <h2>
    
    <br><br>
    
    <br><br><br>
  </h2>
          <br><br><br><br><br>    <br><br><br><br><br>   <br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br>
    </div>
-->
    <script src="instantclick.min.js" data-no-instant></script>
<script data-no-instant>InstantClick.init();</script>
  </body>
</html>

