<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="manifest" href="/manifest.json" />
    <meta
      name="Description"
      content="Code using the best editor, or read the perfect HTML guide."
    />
    <link rel="shortcut icon" href="/logo.webp" />
    <meta name="title" content="Home" />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap"
      rel="stylesheet"
      defer
    />
    <script>if (location.protocol != 'https:'){location.href = 'https:' + window.location.href.substring(window.location.protocol.length);}</script>
    <style>
      /* CSS files add styling rules to your content */
      h6 {
        font-size: 56px;
      }

      body {
        text-align: center;
        font-family: "Lato", sans-serif;
        cursor: auto;
        font-family: "Benton Sans", "Helvetica Neue", helvetica, arial,
          sans-serif;
        margin: 2em;
        padding-left: 2em;
        padding-right: 2em;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
      button {
        font-family: "Lato", sans-serif;
      }

      h1 {
        font-family: "Lato", sans-serif;
        color: #ffffff;
      }
      body {
        font-weight:10;
        font-family:"Lato",sans-serif;
      }

      @media only screen and (max-width: 1300px) {
        #txt {
          display: none;
        }
        .txt {
          display: none;
        }
        .example {
          height: 100px;
        }
        #example {
          height: 100px;
        }
        div {
          height: 700px;
        }
        body {
          overflow:hidden;
        }
      }
      body {
        animation: appear;
        animation-duration: 3s;
      }

      @keyframes appear {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }
    </style>
    <title>Learn-Code</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <style>
      @media only screen and (max-width: 1300px) {
        button {
          display: none !important;
        }
        img {
          display: none !important;
        }
        #aThing {
          display: block !important;
        }
        #thing6 {
          display: none;
        }
      }
    </style>

    <style></style>
    <script>
      if ("serviceWorker" in navigator) {
        navigator.serviceWorker
          .register("sw.js")
          .then(reg => console.log("service worker registered"))
          .catch(err => console.log("service worker not registered", err));
      }
    </script>
       <script async src="https://arc.io/widget.js#UniE98jJ" defer></script>
    <script src="/offline.min.js" defer></script>
        <link
      rel="stylesheet"
      href="/animate.min.css"
      defer/>
    <link rel="manifest" href="/manifest.json" />
    <link
      href="/offline.min.css"
      rel="stylesheet" 
          defer/>
  </head>
  <body background="/bg.webp">
    <div
      style="position:fixed;bottom:0px;z-index:10000;background:#474747;height:5px;width:100%;margin:0px;left:0px;"
    >
      <div
        style="position:fixed;bottom:0px;background:black;z-index:10000000;width:0%;height:5px;margin:0px;left:0px;"
        id="Bar"
      ></div>
    </div>
    <center>
      <br /><br />
      <h1
        style="display:none;padding:10px;background:black;border-radius:15px;width:350px;height:1.1em;cursor:pointer;color:white;"
        class="animate__animated animate__flip"
        id="aThing"
        onclick="window.location =  '/sitemap.html'"
      >
        Sitemap
      </h1>
      <h6
        style="font-size:56px;padding:10px;background:black;border-radius:15px;width:600px;color:white;"
        id="thing6"
        class="animate__animated animate__tada"
      >
        Welcome to Learn-Code!
      </h6>
      <h2 style="display:inline; color:transparent;">---</h2>
      <button
        onclick="window.location = '/edit.html'"
        style=" display:inline;  cursor:pointer;  font-size: 16px;
  border-radius: 3px;
  background-color: lightgrey;
  border: 1px solid grey;
  box-shadow: 2px 2px teal;
  cursor: pointer;width:85px;"
        class="button"
      >
        Editor
      </button>
      <h2 style="display:inline; color:transparent;">---</h2>
      <button
        onclick="window.location = '/html-docs'"
        style=" display:inline  cursor:pointer;  font-size: 16px;
  border-radius: 3px;
  background-color: lightgrey;
  border: 1px solid grey;
  box-shadow: 2px 2px teal;
  cursor: pointer;width:85px;"
        class="button"
      >
        Guide
      </button>
      <h2 style="display:inline; color:transparent;">---</h2>
      <button
        onclick="window.location = '/home'"
        style=" display:inline;  cursor:pointer;  font-size: 16px;
  border-radius: 3px;
  background-color: lightgrey;
  border: 1px solid grey;
  box-shadow: 2px 2px teal;
  cursor: pointer;width:85px;"
        class="button"
      >
        Home
      </button>
      <h2 style="display:inline; color:transparent;">---</h2>
      <button
        onclick="window.location = '/changelog'"
        style=" display:inline;  cursor:pointer;  font-size: 16px;
  border-radius: 3px;
  background-color: lightgrey;
  border: 1px solid grey;
  box-shadow: 2px 2px teal;
  cursor: pointer;
               width:85px;"
        class="button"
      >
        Updates
      </button>
      <h2 style="display:inline; color:transparent;">---</h2>
      <button
        onclick="window.location = '/donate'"
        style=" display:inline;  cursor:pointer;  font-size: 16px;
  border-radius: 3px;
  background-color: lightgrey;
  border: 1px solid grey;
  box-shadow: 2px 2px teal;
  cursor: pointer;width:85px;"
        class="button"
      >
        Donate
      </button>
      <h2 style="display:inline; color:transparent;">---</h2>
      <button
        onclick="alert('Coming Soon!')"
        style=" display:inline;  cursor:pointer;  font-size: 16px;
  border-radius: 3px;
  background-color: lightgrey;
  border: 1px solid grey;
  box-shadow: 2px 2px teal;
  cursor: pointer;width:85px;"
        class="button"
      >
        Forum
      </button>
            <h2 style="display:inline; color:transparent;">---</h2>
      <button
        onclick="window.location = 'https://learn-code-wiki.glitch.me'"
        style=" display:inline;  cursor:pointer;  font-size: 16px;
  border-radius: 3px;
  background-color: lightgrey;
  border: 1px solid grey;
  box-shadow: 2px 2px teal;
  cursor: pointer;width:85px;"
        class="button"
      >
        Wiki
      </button>
      <h2 style="display:inline; color:transparent;">---</h2>
      <button
        onclick="window.location = 'http://learn-code-blog.glitch.me'"
        style=" display:inline;  cursor:pointer;  font-size: 16px;
  border-radius: 3px;
  background-color: lightgrey;
  border: 1px solid grey;
  box-shadow: 2px 2px teal;
  cursor: pointer;width:85px;"
        class="button"
      >
        Blog
      </button>      <h2 style="display:inline; color:transparent;">---</h2>
      <button
        onclick="window.location = 'https://learn-code.statuspage.io/'"
        style=" display:inline;  cursor:pointer;  font-size: 16px;
  border-radius: 3px;
  background-color: lightgrey;
  border: 1px solid grey;
  box-shadow: 2px 2px teal;
  cursor: pointer;width:85px;"
        class="button"
      >
        Status
      </button>
            <h2 style="display:inline; color:transparent;">---</h2>
      <button
        onclick="window.location = '/status'"
        style=" display:inline;  cursor:pointer;  font-size: 16px;
  border-radius: 3px;
  background-color: lightgrey;
  border: 1px solid grey;
  box-shadow: 2px 2px teal;
  cursor: pointer;width:85px;"
        class="button"
      >
        Health
      </button>
      <br />
      <h2 style="display:inline; color:transparent;margin-left:40px;"></h2>
      <img
        style=" "
        src="https://cdn.glitch.com/4c4c9565-af97-4b79-900b-dfb0463306bf%2FImported%20piskel.gif?v=1585597543101"
      />
      <h2 style="display:inline; color:transparent;margin-right:10px;"></h2>
      <img
        style=" "
        src="https://cdn.glitch.com/4c4c9565-af97-4b79-900b-dfb0463306bf%2FImported%20piskel.gif?v=1585597543101"
      />
      <h2 style="display:inline; color:transparent;margin-right:10px;"></h2>
      <img
        style=" "
        src="https://cdn.glitch.com/4c4c9565-af97-4b79-900b-dfb0463306bf%2FImported%20piskel.gif?v=1585597543101"
      />
      <h2 style="display:inline; color:transparent;margin-right:10px;"></h2>
      <img
        style=" "
        src="https://cdn.glitch.com/4c4c9565-af97-4b79-900b-dfb0463306bf%2FImported%20piskel.gif?v=1585597543101"
      />
      <h2 style="display:inline; color:transparent;margin-right:10px;"></h2>
      <img
        style=" "
        src="https://cdn.glitch.com/4c4c9565-af97-4b79-900b-dfb0463306bf%2FImported%20piskel.gif?v=1585597543101"
      /><h2 style="display:inline; color:transparent;margin-right:10px;"></h2>
      <img
        style=" "
        src="https://cdn.glitch.com/4c4c9565-af97-4b79-900b-dfb0463306bf%2FImported%20piskel.gif?v=1585597543101"
      /><h2 style="display:inline; color:transparent;margin-right:10px;"></h2>
      <img
        style=" "
        src="https://cdn.glitch.com/4c4c9565-af97-4b79-900b-dfb0463306bf%2FImported%20piskel.gif?v=1585597543101"
      /><h2 style="display:inline; color:transparent;margin-right:10px;"></h2>
      <img
        style=" "
        src="https://cdn.glitch.com/4c4c9565-af97-4b79-900b-dfb0463306bf%2FImported%20piskel.gif?v=1585597543101"
      /><h2 style="display:inline; color:transparent;margin-right:10px;"></h2>
      <img
        style=" "
        src="https://cdn.glitch.com/4c4c9565-af97-4b79-900b-dfb0463306bf%2FImported%20piskel.gif?v=1585597543101"
      /><h2 style="display:inline; color:transparent;margin-right:10px;"></h2>
      <img
        style=" "
        src="https://cdn.glitch.com/4c4c9565-af97-4b79-900b-dfb0463306bf%2FImported%20piskel.gif?v=1585597543101"
      />
      <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
      <center>
        <div
          style="background:black; width:100%; position:absolute; left:0px; top: 900px;height:350px;"
        >
          <br /><br /><br /><br />
          <h1 style="display:inline;font-weight:10;color:white;">
            Take your code to the
          </h1>
          <h1
            style="display:inline;  background: -webkit-linear-gradient(225deg, #36ffff , #3907de 90%);
  -webkit-background-clip: text;
      text-shadow:none;
  font-weight:10;
  -webkit-text-fill-color: transparent;"
            id="gradient2"
          >
            next level
          </h1>
          <h1 style="display:inline;font-weight:10;color:white;">
            plus review our
          </h1>
          <h1
            style="display:inline;  background: -webkit-linear-gradient(225deg, #36ffff , #3907de 90%);
  -webkit-background-clip: text;
      text-shadow:none;
  font-weight:10;
  -webkit-text-fill-color: transparent;"
            id="gradient3"
          >
            helpful guide
          </h1>
          <h1 style="display:inline;font-weight:10;color:white;">
            , and examples created for you to view at your fingertips.
          </h1>
        </div>
        <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
        <h1
          style="display:inline;font-weight:10;font-size:56px;transform:rotate(10deg);color:white;"
          id="thing3"
        >
          It's Learning made
        </h1>
        <h1
          style="display:inline;transform:rotate(10deg); background: -webkit-linear-gradient(225deg, #36ffff , #3907de 90%);
  -webkit-background-clip: text;
      text-shadow:none;
  font-weight:10;
  -webkit-text-fill-color: transparent;font-size:56px;"
          id="gradient4"
        >
          better
        </h1>
        <br /><br /><br /><br /><br /><br /><br />
      </center>
      <div
        style="width:70%; background:gray; height:240px; position:absolute; left:15%; border-radius: 30px; padding:20px;"
        id="example"
      >
        <label
          style=" top:20px; left:50px; width:90%; font-size:24px;height:30px;font-family: 'Lato'; color:black;"
          for="textarea"
          id="txt"
        >
          The following code makes a hyperlink, (a link which leads to another
          website if you add href="x", x being url you want.) which leads to the
          home page of the learn-code app.

          <br /><br /><br /><br />
          <textarea
            style=" top:145px; left:50px; width:90%; font-size:24px;height:30px;color:black;"
            id="textarea"
            readonly
          >
&lt;a href="https://learn-code.glitch.me/"&gt;Click me! I am a hyperlink!&lt;/a&gt;</textarea
          ></label
        >
        <br /><br />
        <button
          id="btn"
          onclick="window.location = 'https://learn-code.glitch.me/edit.html?html=<a href=&quot;https://learn-code.glitch.me/&quot;>Click me! I am a hyperlink!</a>&css=&js='"
          style="width:300px; font-family: 'Lato', sans-serif; background:green; height:50px; border:none; color:white; font-size:36px; cursor:pointer;  left:50px; top:210px; border-radius:10px;"
        >
          Try it in the editor
        </button>
      </div>
      <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
      <center>
        <div
          style="padding:20px;background:transparent;transform:rotate(2deg);height:80px;"
        >
          <h6
            style="display:inline;font-weight:10; font-size:56px; background: -webkit-linear-gradient(225deg, #36ffff , #3907de 90%);
  -webkit-background-clip: text;
      text-shadow:none;
  font-weight:10;
      -webkit-text-fill-color: transparent;"
            id="thing2"
          >
            Yeah. Examples made just like that.
          </h6>
        </div>
        <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
        <h6
          style="display:inline;  background: -webkit-linear-gradient(225deg, #36ffff , #3907de 90%);
  -webkit-background-clip: text;
      text-shadow:none;
  font-weight:10;
  -webkit-text-fill-color: transparent;font-size:56px;"
          id="gradient7"
        >
          The best part about Learn Code?
        </h6>
        <br /><br /><br />
        <h6 style="display:inline;font-size:36;font-size:56px;color:white;font-weight:10;" id="thing1">
          Yes, we are
          <h6
            style="display:inline;font-size:36; font-size:56px; background: -webkit-linear-gradient(225deg, #36ffff , #3907de 90%);
  -webkit-background-clip: text;
      text-shadow:none;
  font-weight:10;
  -webkit-text-fill-color: transparent;"
            id="gradient8"
          >
            open-source.
          </h6>
        </h6>
        <br /><br /><br />
        <a
          id="gradient9"
          href="https://glitch.com/edit/#!/remix/learn-code"
          style="font-size:56px;font-size:20px;text-decoration: underline;  background: -webkit-linear-gradient(225deg, #36ffff , #3907de 90%);
  -webkit-background-clip: text;
      text-shadow:none;
  font-weight:10;
  -webkit-text-fill-color: transparent;"
          title="Get a copy of the editor!"
          >Get a copy of the editor on Glitch!</a
        ><br><br><a
          id="gradient10"
          href="https://github.com/code-alt/Learn-Code"
          style="font-size:56px;font-size:20px;text-decoration: underline;  background: -webkit-linear-gradient(225deg, #36ffff , #3907de 90%);
  -webkit-background-clip: text;
      text-shadow:none;
  font-weight:10;
  -webkit-text-fill-color: transparent;"
          title="Get a copy of the editor!"
          >or, <br> Get a copy of Learn Code on Github!</a
        >
        <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
        <h1 style="color:white;font-weight:10;">
          Of course,
          <a
            id="gradient11"
            style="font-size:56px;font-size:20px;text-decoration: underline;  background: -webkit-linear-gradient(225deg, #36ffff , #3907de 90%);
  -webkit-background-clip: text; display:inline;
      text-shadow:none;
  font-weight:10;
  -webkit-text-fill-color: transparent;font-size:1em;text-decoration:underline;"
            href="/donate"
            title="Donate!"
            >donations are welcome.</a
          >
        </h1>
        <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
        <h1
          style="display:inline;  background: -webkit-linear-gradient(225deg, #36ffff , #3907de 90%);
  -webkit-background-clip: text;
      text-shadow:none;
  font-weight:10;
  -webkit-text-fill-color: transparent;font-size:56px;"
          id="gradient6"
        >
          So, what are you waiting for?
        </h1>
        <br /><br /><br /><br /><br />
        <button
          onclick="window.location = '/editor.html'"
          style="display:inline;  cursor:pointer;  font-size: 16px;
  border-radius: 3px;
  background-color: lightgrey;
  border: 1px solid grey;
  box-shadow: 2px 2px teal;
  cursor: pointer;"
          class="button"
        >
          Try out our editor
        </button>
        <h2 style="display:inline; color:transparent;">-----</h2>
        <button
          onclick="window.alert('Sorry, but this page has not been released yet.')"
          style="display:inline  cursor:pointer;  font-size: 16px;
  border-radius: 3px;
  background-color: lightgrey;
  border: 1px solid grey;
  box-shadow: 2px 2px teal;
  cursor: pointer;"
          class="button"
        >
          Start Learning
        </button>
        <h2 style="display:inline; color:transparent;">-----</h2>
        <button
          onclick="window.location = '/home'"
          style="display:inline  cursor:pointer;  font-size: 16px;
  border-radius: 3px;
  background-color: lightgrey;
  border: 1px solid grey;
  box-shadow: 2px 2px teal;
  cursor: pointer;"
          class="button"
        >
          Home
        </button>
        <h2 style="display:inline; color:transparent;">-----</h2>
        <button
          onclick="window.location = '/changelog'"
          style="display:inline  cursor:pointer;  font-size: 16px;
  border-radius: 3px;
  background-color: lightgrey;
  border: 1px solid grey;
  box-shadow: 2px 2px teal;
  cursor: pointer;"
          class="button"
        >
          Changelog
        </button>
        <h2 style="display:inline; color:transparent;">-----</h2>
        <button
          onclick="window.location = '/donate'"
          style="display:inline  cursor:pointer;  font-size: 16px;
  border-radius: 3px;
  background-color: lightgrey;
  border: 1px solid grey;
  box-shadow: 2px 2px teal;
  cursor: pointer;"
          class="button"
        >
          Donate</button
        ><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
        <a
          rel="license"
          id="good-prop"
          href="http://creativecommons.org/licenses/by-nc-nd/4.0/"
          style="box-shadow:none;background:black;color:white;"
          ><img
            alt="License"
            style="border-width:0px;display:block;"
            src="https://i.creativecommons.org/l/by-nc-nd/4.0/88x31.png"/></a
        ><br /><br />
        <p style="color:white;">
          This work is licensed under a
        </p>
        <a
          rel="license"
          href="http://creativecommons.org/licenses/by-nc-nd/4.0/"
          style="box-shadow:none;background:transparent;color:white;border:0;"
          >Creative Commons Attribution-NonCommercial-NoDerivatives 4.0
          International License, so check that out for licensing info</a
        >!<br /><br />
        <p style="color:white;">
          Please note that there are some open source scripts used here, feel
          free to check them. Oh, did I mention you should totally go on and use
          their software! A good one is
          <a
            href="https://craig.is/killing/mice"
            style="box-shadow:none;background:transparent;color:white;border:0;"
            >https://craig.is/killing/mice!</a
          >
        </p>
        <br /><br /><br />
      </center>
      <script src="instantclick.min.js" data-no-instant></script>
      <script data-no-instant>
        InstantClick.init();
      </script>
    </center>
    <script>
      // used code from an open-source script - check it out
      window.onscroll = function() {
        scrollBar();
      };

      function scrollBar() {
        var winScroll =
          document.body.scrollTop || document.documentElement.scrollTop;
        var height =
          document.documentElement.scrollHeight -
          document.documentElement.clientHeight;
        var scrolled = (winScroll / height) * 100;
        document.getElementById("Bar").style.width = scrolled + "%";
      }
      
      // except for this
      
      window.scrollTo(0, 0);
      
      window.onload = function () {
        scrollBar()
      }
    </script>
  </body>
</html>
