<!DOCTYPE html>
<html lang="en">
  <head>
    <script async src="https://arc.io/widget.js#UniE98jJ"></script>
    <link rel="shortcut icon" href="/logo.webp" >
    <meta name="title" content="Editor">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
    <title>Learn-Code</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
    <script type="text/javascript">
  var _paq = window._paq = window._paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="https://learn-code.matomo.cloud/";
    _paq.push(['setTrackerUrl', u+'matomo.php']);
    _paq.push(['setSiteId', '1']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.src='//cdn.matomo.cloud/learn-code.matomo.cloud/matomo.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
    
  </head>  
  <body background="https://cdn.glitch.com/dc89eddf-9d30-41de-968a-aade27886f85%2FScreenshot%202019-08-27%20at%204.47.03%20PM.png?v=1566942470682">
<center>
<div style="width:90%;padding:50px;height:90%;y-overflow:auto;">
  <h1>
    Welcome to the Learn Code Sitemap!
    
    <br><br>
    Here is a list of pages hosted on Learn Code.
  </h1>
  <br><br><br>
  <button class="button" onclick="window.location = '/sitemap.html';">
    Sitemap (current site)
   </button>
  <br><br>
  <button class="button" onclick="window.location = '/';">
    Index
   </button>
  <br><br>
  <button class="button" onclick="window.alert('Coming Soon!')">
    HTML Docs
   </button>
  <br><br>
  <button class="button" onclick="window.location = '/hosting.html';">
    Hosting
   </button>
  <br><br>
  <button class="button" onclick="window.location = '/editor.html';">
    Editor Home
   </button>
  <br><br>
  <button class="button" onclick="window.location = '/edit.html';">
    Editor
   </button>
  <br><br>
  <button class="button" onclick="window.location = '/home.html';">
    Home
   </button>
  <br><br>
  <button class="button" onclick="window.location = '/donations.html';">
    Donate
   </button>
  <br><br>
  <button class="button" onclick="window.location = '/changelog.html';">
    Changelog
   </button>
  <br><br>
  <button class="button" onclick="window.location = 'https://learn-code.glitch.me/lua-docs';">
    Lua docs (WIP thing)
   </button>
  </div>
    </center>
    <script src="instantclick.min.js" data-no-instant></script>
<script data-no-instant>InstantClick.init();</script>
  </body>
</html>