.login {
  position:absolute;
  background:grey;
  width:83%;
  height:auto;
  align-items:center;
  font-family:"Lato", sans-serif;
}

h1,h2,h3,h4,h5,h6,label,a,button {
    font-family:"Lato", sans-serif;
}

::selection {
  color:black !important;
  background:darkgray !important;
}